<form class="new-category" flex>
  <md-input-container flex>
    <input mdInput placeholder="Category Name" type="text"
      [(ngModel)]="parameters.name" name="name">
  </md-input-container>

  <md-input-container>
    <input mdInput type="number" placeholder="Overall Arb."
      [(ngModel)]="parameters.oaArbiters" name="oaArbiters">
  </md-input-container>

  <md-input-container>
    <input mdInput type="number" placeholder="Tech. Qual. Arb."
      [(ngModel)]="parameters.tqArbiters" name="tqArbiters">
  </md-input-container>

  <md-input-container>
    <input mdInput type="number" placeholder="Nandu Arb."
      [(ngModel)]="parameters.ndArbiters" name="ndArbiters">
  </md-input-container>
  <button md-button>Append</button>
</form>
